.storefinderTable {
    margin-top: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.storefinderTable__table {
    margin: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storefinderTable__table__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.storefinderTable__table__header {
    font-size: 2rem;
}

.storefinderTable__table__item {
    width: 25%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}

@media screen and (max-width: 1400px) {
    .storefinderTable__table {
        margin: 0 4rem;
    }

    .storefinderTable__table__item {
        width: 33%;
    }
}

@media screen and (max-width: 1024px) {
    .storefinderTable__table {
        margin: 0 2rem;
    }

    .storefinderTable__table__item {
        width: 50%;
    }
}

@media screen and (max-width: 740px) {
    .storefinderTable__table {
        margin: 0 1rem;
    }

    .storefinderTable__table__item {
        width: 100%;
    }
}
