/* .main_page-image {
  background: url('../../assets/mainpage.svg') no-repeat center;
  height: 36rem;
} */
.home_about {
    background: url('../../assets/walbusch_main.png') no-repeat;
    height: 36rem;
    background-size: cover;
    margin-top: 9rem;
  }

.home_about_mey-edlich {
    background: url('../../assets/mey-edlich_main.png') no-repeat;
    height: 36rem;
    background-size: cover;
    margin-top: 9rem;
  }

  .home_about_lashoe {
    background: url('../../assets/lashoe_main.png') no-repeat;
    height: 36rem;
    background-size: cover;
    margin-top: 9rem;
  }

  


  