.video-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

video {
    height: auto;
    z-index: 1;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    position: relative;
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
}
.product-container.visible {
    left: 0
}
@keyframes slideIn {
    from {left: -50rem}
    to {right: 50rem;}
}
